@use "./../../../helper/mixins" as m;
@use "./../../../helper/variables" as v;

@mixin tim() {
  .partners-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 12px;
    gap: 2rem;

    .image-side {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .image-placeholder {
        width: 100%;
        // max-width: 300px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 100%;
          object-fit: contain;
          border-radius: 20px;
        }
      }
    }

    .content-side {
      flex: 2;
      text-align: left;

      h2 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 2rem;
        line-height: 1.5;
      }

      .partners-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        .logo {
          text-align: center;

          img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            border-radius: 8px;
            padding: 0.5rem;
          }

          p {
            margin-top: 0.5rem;
            font-size: 0.9rem;
            color: #666;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .partners-section {
      flex-direction: column;

      .image-side {
        margin-bottom: 2rem;
      }

      .content-side {
        text-align: center;

        .partners-logos {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
