@use "./helper/mixins" as m;
@use "./helper/variables" as v;

@use "./component/Navbar/navbar";
@use "./pages/Login/login";
@use "./pages/Register/register";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  font-family: v.$lato;
}